.idea
/internal/client/*.exe
/internal/client/*.exe~
/internal/client/client
/internal/client/client~
/internal/server/*.exe
/internal/server/*.exe~
/internal/server/server
/internal/server/server~
/internal/client/client/*.exe
/internal/client/client/*.exe~
/internal/client/client/client
/internal/client/client/client~
/internal/client/*.exe
